{% extends "layout.jinja2" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/accounting.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/static/js/accounting.js"></script>
  <script>
    var ACCOUNTING = {{ accounting.list_id }},
        DONATION_STRUCTURE = {{ structure }},
        ACCESS_TYPES = {
          {% for at in access_types %}
            '{{ at.name|lower }}': {
                name: "{{ at.name|capitalize }}",
                id: {{ at.access_type_id }}
            }{% if not loop.last %},{% endif %}
          {% endfor %}
        },
        INVITED = [
          {% for perm in accounting.permissions %}
            {
                name: "{{ perm.user.username }}",
                id: {{ perm.user.user_id }},
                cancelable: false,
                modified: false,
                access: {
                  id: {{ perm.access.access_type_id }},
                  name: "{{ perm.access.name|capitalize }}"
                }
            }{% if not loop.last %},{% endif %}
          {% endfor %}
        ],
        TAGS = [
          {% for tag in tags %}
            "{{ tag }}"{% if not loop.last %},{% endif %}
          {% endfor %}
        ],
        SHOW_DISABLED = {{ show_disabled|lower }},
        START = {% if start %} new Date("{{ start }}") {% else %} null {% endif %},
        STOP = {% if stop %} new Date("{{ stop }}") {% else %} null {% endif %},
        PAGE = {{ page }},
        PER_PAGE = {{ per_page }};
  </script>
{% endblock %}

{% block title %}
  {{accounting.name|capitalize()}}
{% endblock %}

{% block content %}
<div ng-controller='donats_ctrl'>
  <h1>
    {{accounting.name|capitalize()}}
    <span>
      <a href class="btn btn-danger" ng-click="open_invite_modal()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Share!</span>
      </a>
    </span>
  </h1>


  <div id="menu">
   <form action="." method="GET" class="form-horizontal" role="form" id="params">
     <div class="form-group">
       <label for="start" class="col-lg-4 control-label">From date</label>
       <div class="input-group col-lg-6">
           <input type="text" name="start" id="start" class="form-control"
                ng-model="acc_config.start"
                datepicker-popup="yyyy-MM-dd"
                datepicker-options="datepickerOptions"
                show-button-bar="false"
                is-open="from_date_opened"
                placeholder="From date"/>
           <span class="input-group-btn">
             <a href
                class="btn btn-default"
                ng-click="open_from($event)">
               <span class="glyphicon glyphicon-calendar"></span>
             </a>
           </span>
       </div>
     </div>
     <div class="form-group">
       <label for="stop" class="col-lg-4 control-label">To date</label>
       <div class="input-group col-lg-6">
         <input type="text" name="stop" id="stop1" class="form-control"
              ng-model="acc_config.stop"
              datepicker-popup="yyyy-MM-dd"
              datepicker-options="datepickerOptions"
              show-button-bar="false"
              is-open="to_date_opened"
              placeholder="To date"/>
         <span class="input-group-btn">
           <a href
              class="btn btn-default"
              ng-click="open_to($event)">
             <span class="glyphicon glyphicon-calendar"></span>
           </a>
         </span>
       </div>
     </div>
     <div class="form-group">
       <label for="search_tags" class="control-label col-lg-4">Tags</label>
       <div class="col-lg-6" style="padding-left: 0">
         <ul class="tags" ng-show="acc_config.tags.length > 0 || acc_config.include_empty_tag">
           <li ng-repeat="tag in acc_config.tags">
             <span class="tag">
              <span ng-bind="tag"></span>&nbsp;<a class="delete_tag glyphicon glyphicon-remove" ng-click="remove_tag(acc_config.tags, tag)"></a>
            </span>
           </li>
           <li ng-show="acc_config.include_empty_tag">
             <span class="tag">
               <span>no tags</span>&nbsp;<a class="delete_tag glyphicon glyphicon-remove" ng-click="acc_config.include_empty_tag=false"></a>
             </span>
           </li>
         </ul>
         <div ng-class="{'input-group': search_tag}">
           <input type="text" placeholder="Tag" class="form-control"
                  ng-model="search_tag"
                  ng-init="search_tag=null"
                  ng-minlength="3"
                  maxlength="20"
                  ng-maxlength="20"
                  typeahead="tag for tag in get_tags($viewValue)"
                  typeahead-minlength="2"
                  typeahead-wait-ms="200"/>
           <a class="btn btn-default input-group-addon"
              ng-click="acc_config.tags.push(search_tag); search_tag=null;"
              ng-show="search_tag">
             <span class="glyphicon glyphicon-plus"></span>
             Add
           </a>
         </div>
       </div>

       <div class="col-lg-offset-4 col-lg-6">
         <input type="checkbox" name="include_empty_tag"
                id="empty_tag"
                ng-model="acc_config.include_empty_tag" />
         <label for="empty_tag" class="control-label">No tags entries</label>
       </div>
     </div>
     <div class="form-group">
       <div class="col-lg-offset-4 col-lg-6">
         <input type="checkbox"
                name="show_disabled" id="show_disabled"
                ng-model="acc_config.show_disabled" />
         <label for="show_disabled" class="control-label">Show disabled</label>
       </div>
     </div>
     <div class="form-group">
       <div class="col-lg-offset-4 col-lg-6">
         <a href class="btn btn-default" ng-click="get_list()">Get</a>
       </div>
     </div>
   </form>
  </div>


  <script type="text/ng-template" id="invite_modal">
    <div class="modal-header">
      <h3 class="modal-title">Permissions</h3>
    </div>
    <div class="modal-body">
    <div class="form-horizontal" id="invite_block">
      <div ng-repeat="user in invited_users">
          <div class="form-group">
            <div class="col-lg-6">
              <input type="text" readonly class="form-control" ng-model="user.name"></span>
            </div>
            <div class="col-lg-4">
              <a href role="button"
                 class="btn btn-default dropdown-toggle"
                 data-toggle="dropdown">
                <span ng-bind="user.access.name"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href ng-click="user.access=ACCESS_TYPES.read; user.modified=true;">
                    Read
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href ng-click="user.access=ACCESS_TYPES.write; user.modified=true;">
                    Write
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href ng-click="user.access=ACCESS_TYPES.full; user.modified=true;">
                    Full
                  </a>
                </li>
                <li role="presentation" class="divider" ng-show="user.cancelable"></li>
                <li role="presentation" ng-show="user.cancelable">
                  <a role="menuitem" tabindex="-1" href ng-click="cancel_invite(user)">
                    Cancel
                  </a>
                </li>
                {% if moderate_mode %}
                    <li role="presentation" class="divider" ng-show="!user.cancelable"></li>
                    <li role="presentation" ng-show="!user.cancelable">
                      <a role="menuitem" tabindex="-1" href ng-click="disinvite(user)">
                        Delete
                      </a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <input type="text" placeholder="User" class="form-control"
                   ng-model="new_user"
                   typeahead-editable="false"
                   typeahead="user as user.name for user in get_users($viewValue)"
                   typeahead-minlength="2"
                   typeahead-wait-ms="200"/>
          </div>
          <div class="col-lg-4">
            <a href role="button"
               class="btn btn-default dropdown-toggle"
               data-toggle="dropdown">
                    Access
                    <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" ng-class="{disabled: !new_user}">
                <a role="menuitem" tabindex="-1" href ng-click="new_user.access=ACCESS_TYPES.read; invited_users.push(new_user); new_user=null">Read</a>
              </li>
              <li role="presentation" ng-class="{disabled: !new_user}">
                <a role="menuitem" tabindex="-1" href ng-click="new_user.access=ACCESS_TYPES.write; invited_users.push(new_user); new_user=null">Write</a>
              </li>
              <li role="presentation" ng-class="{disabled: !new_user}">
                <a role="menuitem" tabindex="-1" href ng-click="new_user.access=ACCESS_TYPES.full; invited_users.push(new_user); new_user=null">Full</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <a href class="btn btn-primary" ng-click="ok()">Ok</a>
      <a href class="btn btn-danger" ng-click="dismiss()">Cancel</a>
    </div>
  </script>

  <!-- TODO -->
  <div id="errors"></div>

  <div id="graph"></div>

  <pagination ng-model="pagination.page"
              ng-change="get_list()"
              rotate="false" items-per-page="pagination.per_page"
              total-items="pagination.total" max-size="pagination.max_size"
    style="width: 100%">
  </pagination>
  <table id="donats" class="bal_table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Info</th>
        <th>Tags</th>
        <th>Size</th>
        <th>Total</th>
      </tr>
    </thead>
    <tfoot>
      {% if edit_mode %}
      <tr>
        <td colspan="5" style="text-align: center">
          <a href="" ng-click="add_row()" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            Add donation
          </a>
        </td>
      </tr>
      {% endif %}
    </tfoot>
    {% raw %}
    <tbody>
      <tr ng-repeat='donat in donats|orderBy:order'>
        <td>
          <div ng-switch="donat.edit_mode">
            <div ng-switch-when="true">
              <div class="form-group">
                <div ng-bind="donat.errors.date" class="error" ng-show="donat.errors.date"></div>
                <div class="input-group">
                  <input type="text"
                       class="form-control"
                       ng-model="donat.js_date"
                       ng-change="donat.date=to_unixtimestamp(donat.js_date)"
                       datepicker-popup="yyyy-MM-dd"
                       show-button-bar="false"
                       datepicker-options="datepickerOptions"
                       datepicker-append-to-body="true"
                       is-open="donat.date_opened"
                  >
                  <span class="input-group-btn">
                    <a href
                        class="btn btn-default"
                        ng-click="open_date($event, donat)">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </a>
                  </span>
                </div>
                </div>
            </div>
            <div ng-switch-when="false">
              {{donat.js_date|date:"dd.MM.yyyy"}}
            </div>
          </div>
        </td>
        <td>
          <div ng-switch="donat.edit_mode">
            <div ng-switch-when="true" class="form-horizontal">
              <div class="form-group">
                <alert ng-bind="donat.errors.name" type="danger" ng-show="donat.errors.name"></alert>
                <label for="name_{{ donat.id }}" class="control-label col-lg-5">
                  Name
                </label>
                <div class="col-lg-offset-5">
                  <input type="text" required placeholder="Name"
                         id="name_{{ donat.id }}" class="required form-control"
                         ng-model="donat.name">
                </div>
              </div>
              <div class="form-group">
                <div ng-bind="donat.errors.description" class="error" ng-show="donat.errors.description"></div>
                <label for="descr_{{ donat.id }}" class="control-label col-lg-5">
                  Description
                </label>
                <div class="col-lg-offset-5">
                  <input type="text" placeholder="Description"
                         id="descr_{{ donat.id }}" class="form-control"
                         ng-model="donat.description">
                </div>
              </div>
              <div>
                <a href="" ng-click="donat.edit_schedule=true" ng-show="!donat.edit_schedule">
                  <span ng-class="{'glyphicon-edit': donat.period !== null, 'glyphicon-plus': donat.period === null}" class="glyphicon"></span>
                  Schedule
                </a>
                <div collapse="!donat.edit_schedule" class="schedule">
                  <div class="form-group">
                    <div ng-bind="donat.errors.period" class="error" ng-show="donat.errors.period"></div>
                    <label for="period_{{ donat.id }}" class="control-label col-lg-5">
                      Period
                      <a href class="glyphicon glyphicon-question-sign"
                         title="Format: *years *months *weeks *days.&#010;&#013;Alternative format: *y*m*w*d"></a>
                    </label>
                    <div class="col-lg-offset-5">
                      <input type="text" placeholder="Period"
                             id="period_{{ donat.id }}" class="form-control"
                             ng-model="donat.period"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="until_{{ donat.id }}" class="control-label col-lg-5">
                      Until
                    </label>
                    <div class="input-group col-lg-offset-5">
                      <input type="text" placeholder="Til date"
                           id="until_{{ donat.id }}" class="form-control"
                           ng-model="donat.js_until"
                           ng-change="donat.until=to_unixtimestamp(donat.js_until)"
                           datepicker-popup="yyyy-MM-dd"
                           show-button-bar="false"
                           datepicker-options="datepickerOptions"
                           datepicker-append-to-body="true"
                           is-open="donat.until_opened"/>
                      <span class="input-group-btn">
                        <a href
                            class="btn btn-default"
                            ng-click="open_until($event, donat)">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-5">
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn" ng-click="donat.disabled=false"
                             ng-class="{'btn-default':  donat.disabled, 'btn-primary': !donat.disabled, 'active': !donat.disabled}">
                          Enable
                        </label>
                        <label class="btn" ng-click="donat.disabled=true"
                             ng-class="{'btn-default': !donat.disabled, 'btn-primary':  donat.disabled, 'active':  donat.disabled}">
                          Disable
                        </label>
                      </div>
                    </div>
                  </div>
                  <div ng-if="donat.disabled" class="form-group">
                    <label for="reason_{{ donat.id }}" class="control-label col-lg-5">Reason</label>
                    <div class="col-lg-offset-5">
                      <input type="text" placeholder="Disabling reason"
                             id="reason_{{ donat.id }}" class="form-control"
                             ng-model="donat.disabling_reason"/>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="pull-right">
                <a href="" ng-click="rollback(donat)" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove-circle"></span>
                  Cancel
                </a>
                <a href="" ng-click="commit(donat)" class="btn btn-primary">
                  <span class="glyphicon glyphicon-ok-circle"></span>
                  Save
                </a>
              </div>
            </div>
            <div ng-switch-when="false">
              <div ng-class="{disabled_donation: donat.disabled}">{{donat.name}}</div>
              <div class="help">{{donat.description}}</div>
              <div ng-if="donat.disabled" class="help">Disabled: {{ donat.disabling_reason }}</div>
              <div ng-if="donat.period">
                <span class="period">Every {{ donat.period }}</span>
                <span ng-if="donat.until" class="until">Until {{ donat.js_until|date:"dd.MM.yyyy" }}</span>
              </div>


              {% endraw %}
              {% if edit_mode %}
              <a href="" ng-click="edit(donat)" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              </a>
              <a href="" ng-click="remove(donat)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
              </a>
              {% endif %}
              {% raw %}
            </div>
          </div>
        </td>
        <td>
          <ul class="tags" ng-show="donat.tags.length > 0">
            <li ng-repeat="tag in donat.tags">
              <span class="tag">
                <span class="glyphicon glyphicon-tag"></span>
                <a href ng-bind="tag" ng-click="acc_config.tags.push(tag)"></a>
                <span ng-switch="donat.edit_mode">
                  <span ng-switch-when="true">
                    <a class="delete_tag glyphicon glyphicon-remove" ng-click="remove_tag(donat.tags, tag)"></a>
                  </span>
                </span>
              </span>
            </li>
          </ul>
          <div ng-show="donat.edit_mode" ng-class="{'input-group': new_tag}">
            <input type="text" placeholder="Tag" class="form-control"
                 ng-model="new_tag"
                 ng-minlength="3"
                 maxlength="20"
                 ng-maxlength="20"
                 typeahead="tag for tag in get_tags($viewValue)"
                 typeahead-minlength="2"
                 typeahead-wait-ms="200"/>
            <a class="btn btn-default input-group-addon"
               ng-click="donat.tags.push(new_tag); new_tag=null;"
               ng-show="new_tag">
              <span class="glyphicon glyphicon-plus"></span>
              Add
            </a>
          </div>
        </td>
        <td>
          <div ng-switch="donat.edit_mode">
            <div ng-switch-when="true">
              <div ng-bind="donat.errors.size" class="error" ng-show="donat.errors.size"></div>
              <input class="form-control" type="number" ng-model="donat.size">
            </div>
            <div ng-switch-when="false" ng-class="{disabled_donation: donat.disabled}">{{donat.size}}</div>
          </div>
        </td>
        <td>
          <div ng-class="{plus: donat.total() > 0, minus: donat.total() < 0}">{{donat.total()}}</div>
        </td>
      </tr>
    </tbody>
    {% endraw %}
  </table>
</div>
{% endblock %}