<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            {{title}}
        {% endblock %}
    </title>
    {% block scripts %}
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/angular.min.js"></script>
      <script src="/static/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
      <script src="/static/css/bootstrap/js/bootstrap.min.js"></script>
      <script>
        var alers_app = angular.module('alerts', ['ui.bootstrap']);
        var alert_ctrl = function($scope) {};
        angular.element(document).ready(function() {
            angular.bootstrap(angular.element('[ng-controller=alert_ctrl]'), ['alerts'])
        });
      </script>
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/static/css/main.css">
    {% endblock %}
    <meta encoding="utf8">
    <link rel="shortcut icon" href="/static/favicon.png">
</head>
<body>
{% block userbar %}
    {% if g.user %}
      <span class="btn-group pull-right">
        <a href="{{ url_for('profile') }}" class="btn btn-default">{{g.user.username}}</a>
        <a href="{{ url_for('Auth.logout', _external=True) }}" class="btn btn-default">
          <span class="glyphicon glyphicon-log-out"></span>
            Logout
        </a>
      </span>
    {% else %}
        <a href="{{ url_for('Auth.login', next=request.url, _external=True) }}" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-log-out"></span>
          Login
        </a>
    {% endif %}
{% endblock %}
{% block messages %}
  <div ng-controller="alert_ctrl">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
              <div class="row">
                <div class="col-lg-8">
                  <alert type="{{ category }}">{{ message }}</alert>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>