{% extends "layout.jinja2" %}
{% block title %}Profile{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/profile.js"></script>
    <script>
        var API_URL = "{{ url_for('accounting_api') }}";
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/profile.css" />
{% endblock %}

{% block content %}
<div ng-app='profile' ng-controller='profile_ctrl'>
    <h3>Account info</h3>
    <table class="bal_table">
        <tr>
            <td>Username</td>
            <td>{{g.user.username}}</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>{{g.user.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{g.user.last_name}}</td>
        </tr>
        <tr>
            <td>Is super</td>
            <td>
                {% if g.user.superuser %}
                    <span style="color: green">(/) Yes</span>
                {% else%}
                    <span style="color: red">(x) No</span>
                {% endif %}
            </td>
        </tr>
    </table>

{% raw %}
    <h3>Accounting lists</h3>
    <ul class="acc-lists">
    <li>
        <span ng-switch="read_only_collapsed" style="display: inline-block;">
            <span class="glyphicon glyphicon-expand" ng-switch-when="true"></span>
            <span class="glyphicon glyphicon-collapse-down" ng-switch-when="false"></span>
        </span>
        <a ng-click="read_only_collapsed=!read_only_collapsed">
            Read only
        </a>
        <ul collapse="read_only_collapsed" class="accountings" ng-repeat="list in lists|filter:{type: 'read'}">
            <li>
                <a href="{{ list.view_url }}">{{ list.name }}</a>
            </li>
        </ul>
    </li>
    <li>
        <span ng-switch="read_write_collapsed" style="display: inline-block;">
            <span class="glyphicon glyphicon-expand" ng-switch-when="true"></span>
            <span class="glyphicon glyphicon-collapse-down" ng-switch-when="false"></span>
        </span>
        <a ng-click="read_write_collapsed=!read_write_collapsed">
            Writable
        </a>
        <ul collapse="read_write_collapsed" class="accountings" ng-repeat="list in lists|filter:{type: 'write'}">
            <li>
                <a href="{{ list.view_url }}">{{ list.name }}</a>
            </li>
        </ul>
    </li>
    <li>
        <span ng-switch="full_collapsed" style="display: inline-block;">
            <span class="glyphicon glyphicon-expand" ng-switch-when="true"></span>
            <span class="glyphicon glyphicon-collapse-down" ng-switch-when="false"></span>
        </span>
        <a ng-click="full_collapsed=!full_collapsed">
            Moderable
        </a>
        <ul collapse="full_collapsed" class="accountings" ng-repeat="list in lists|filter:{type: 'full'}">
            <li>
                <a href="{{ list.view_url }}">{{ list.name }}</a>
            </li>
        </ul>
    </li>
    <li>
        <span ng-switch="owned_collapsed" style="display: inline-block;">
            <span class="glyphicon glyphicon-expand" ng-switch-when="true"></span>
            <span class="glyphicon glyphicon-collapse-down" ng-switch-when="false"></span>
        </span>
        <a ng-click="owned_collapsed=!owned_collapsed" href="">
            Owned
        </a>
        <div>
            <ul collapse="owned_collapsed" class="accountings">
                <li ng-repeat="list in lists|filter:{type: 'owned'}">
                    <div ng-switch="list.edit">
                        <div ng-switch-when="false">
                            <a href="{{ list.view_url }}">{{ list.name }}</a>
                            <a href="" class="btn btn-default" ng-click="edit(list)">
                                <span class="glyphicon glyphicon-edit"></span>
                                Edit
                            </a>
                            <a href="" class="btn btn-danger" ng-click="remove_list(list)">
                                <span class="glyphicon glyphicon-remove"></span>
                                Delete
                            </a>
                        </div>
                        <div ng-switch-when="true">
                            <form name="edit_form_id_{{ list.id }}" class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Name"
                                           ng-pattern="/^[A-Za-z][\w\-. ]{3,}$/" required
                                           class="form-control"
                                           ng-model="list.name"/>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <a href class="btn btn-danger" ng-click="rollback(list)">
                                          <span class="glyphicon glyphicon-remove-circle"></span>
                                          Cancel
                                        </a>
                                        <a href class="btn btn-primary"
                                           ng-click="commit(list)" ng-show="edit_form_id_{{ list.id }}.$valid">
                                          <span class="glyphicon glyphicon-ok-circle"></span>
                                          Save
                                        </a>
                                    </div>
                                </div>
                                <span class="help error" ng-show="edit_form_id_{{ list.id }}.name.$error.pattern">
                                    Name should start with letter, may contain letters, spaces, underscores and should have length greater than 3.
                                </span>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div ng-switch="adding">
                        <div ng-switch-when="false">
                            <!-- <a href="" class="btn btn-default" ng-click="adding=true">Create one</a> -->
                            <a href="" class="btn btn-default" ng-click="add()">
                                <span class="glyphicon glyphicon-plus"></span>
                                Create one
                            </a>
                        </div>
                        <div ng-switch-when="true">
                            <form name="adding_form" class="form-inline">
                                <input type="text" name="name" placeholder="Name" required
                                       class="form-control"
                                       ng-model="name" ng-pattern="/^[A-Za-z][\w\-. ]{3,}$/"/>
                                <span class="error" ng-show="adding_form.name.$error.pattern">
                                    Name should start with letter, may contain letters, spaces, underscores and should have length greater than 3.
                                </span>
                                <a href class="btn btn-default" ng-click="cancel_adding()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Cancel
                                </a>
                                <a href class="btn btn-primary" ng-click="add_list()" ng-show="adding_form.$valid">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Save
                                </a>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
  </ul>
</div>
{% endraw %}
{% endblock %}